# BELAJAR PANDAS DENGAN DATA TITANIC

## 1. Install Dependensi

In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages (3.0.10)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages (from openpyxl) (1.1.0)

WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install lxml

Requirement already satisfied: lxml in c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages (4.9.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install html5lib

Collecting html5lib
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Collecting webencodings
  Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: six>=1.9 in c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages (from html5lib) (1.15.0)
Installing collected packages: webencodings, html5lib
Successfully installed html5lib-1.1 webencodings-0.5.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
pip install BeautifulSoup4

Collecting BeautifulSoup4
  Using cached beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
Collecting soupsieve>1.2
  Using cached soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.11.1 soupsieve-2.3.2.post1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
pip install Sqlalchemy

Collecting Sqlalchemy
  Downloading SQLAlchemy-1.4.45-cp38-cp38-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 627.9 kB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.1-cp38-cp38-win_amd64.whl (190 kB)
     ------------------------------------ 190.7/190.7 kB 959.7 kB/s eta 0:00:00
Installing collected packages: greenlet, Sqlalchemy
Successfully installed Sqlalchemy-1.4.45 greenlet-2.0.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\office-017\appdata\local\programs\python\python38\lib\site-packages)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## 2. Import Data Titanic

In [8]:
import pandas as pd

deklarasikan variabel data_titanic yang berisi data titanic yang telah diunduh

In [9]:
data_titanic = pd.read_csv('kapal_titanic.csv')

In [10]:
data_titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

melihat 5 data teratas dan terbawah

In [11]:
data_titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [12]:
data_titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN